.logo{
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    height: 54px;
    width: 1172px;
    margin:0 auto;
    top: 31px;
    position: relative;
}
.head{
    background-image: url(../img/beijing.jpg);
    height: 736px;
}
.head-face{
    margin: 0 auto;
    width: 840px;
}
.face{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 1px solid white;
    overflow: hidden;
    margin-top: 190px;
}
.face1{
    background-image: url(../img/face.png);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /*background-color: red;*/
    margin: 4px auto;
    background-position:-32px 0;

}
.float{
    float: left;
}
.face2{
    font-size: 24px;
    margin-left: 98px;
    margin-top: 246px;
    color: white;

}
.facep{
    font-size: 37px;
    margin-left: 30px;
}
.face2 div{
    width: 289px;
    height: 1px;
    border-bottom: 1px solid #52edc7;
    margin-left: 46px;
}
.face2 a{
    display: inline-block;
    height: 51px;
    width: 248px;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
    color: white;
    margin-left: 67px;
}
